# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

name: 1.$(date:yyyy).$(DayOfYear)$(Rev:.r)

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

  
 

steps:

- task: PowerShell@2
  displayName: Docker - Build
  inputs:
    filePath: './src/build-docker.ps1'

- task: PowerShell@2
  displayName: Where Am I
  inputs:
    targetType: 'inline'
    script: |
      ls
      write-host Build.ArtifactStagingDirectory:$(Build.ArtifactStagingDirectory)
      write-host System.DefaultWorkingDirectory:$(System.DefaultWorkingDirectory)
      write-host Build.BuildNumber:$(Build.BuildNumber)


- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'env | sort'


- task: UseDotNet@2
  displayName: 'Use dotnet sdk 2.x'
  inputs:
    version: 2.x
    includePreviewVersions: false

- task: UseDotNet@2
  displayName: 'Use dotnet sdk 3.x'
  inputs:
    version: 3.x
    includePreviewVersions: false
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- script: dotnet build --configuration $(buildConfiguration) ./src/SecuredApiApp.sln /p:Version=$(Build.BuildNumber)
  displayName: 'dotnet build $(buildConfiguration)'
  
- script: dotnet build --configuration $(buildConfiguration) ./src/SecuredApiApp.sln 
  displayName: 'dotnet test $(buildConfiguration)'

  - script: dotnet publish --configuration $(buildConfiguration) ./src/SecuredApiApp.sln 
  displayName: 'dotnet publish $(buildConfiguration)'
