# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  Version.MajorMinor: 1.0.0
  Version.Revision: $[counter(variables['Version.MajorMinor'], 0)]
 

steps:

- powershell: ls 
  displayName: Where Am I
- powershell: write-host Build.ArtifactStagingDirectory:$(Build.ArtifactStagingDirectory)
  displayName: Artifact Locations
- powershell: write-host System.DefaultWorkingDirectory:$(System.DefaultWorkingDirectory)
  displayName: Artifact Locations

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'env | sort'


- task: UseDotNet@2
  displayName: 'Use dotnet sdk 2.x'
  inputs:
    version: 2.x
    includePreviewVersions: false

- task: UseDotNet@2
  displayName: 'Use dotnet sdk 3.x'
  inputs:
    version: 3.x
    includePreviewVersions: false
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- script: dotnet build --configuration $(buildConfiguration) ./src/SecuredApiApp.sln /p:Version=$(Version.Revision)
  displayName: 'dotnet build $(buildConfiguration)'
  
- script: dotnet build --configuration $(buildConfiguration) ./src/SecuredApiApp.sln 
  displayName: 'dotnet test $(buildConfiguration)'

